StudentConsumerClientSoap/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IStudent_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudent_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_FindStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:FindStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_FindStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_EditStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStudent" />
  </wsdl:message>
  <wsdl:message name="IStudent_EditStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudent">
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/AddStudent" message="tns:IStudent_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/AddStudentResponse" message="tns:IStudent_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/FindStudent" message="tns:IStudent_FindStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/FindStudentResponse" message="tns:IStudent_FindStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/DeleteStudent" message="tns:IStudent_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/DeleteStudentResponse" message="tns:IStudent_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/EditStudent" message="tns:IStudent_EditStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/EditStudentResponse" message="tns:IStudent_EditStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/GetAllStudents" message="tns:IStudent_GetAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/GetAllStudentsResponse" message="tns:IStudent_GetAllStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudent" type="tns:IStudent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/FindStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <soap:operation soapAction="http://tempuri.org/IStudent/GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IStudent" type="tns:IStudent">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IStudent_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/FindStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStudent">
      <soap:operation soapAction="http://tempuri.org/IStudent/EditStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <soap:operation soapAction="http://tempuri.org/IStudent/GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IStudent" binding="tns:BasicHttpBinding_IStudent">
      <soap:address location="http://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IStudent" binding="tns:BasicHttpsBinding_IStudent">
      <soap:address location="https://studentwcfservice20170925034452.azurewebsites.net/StudentHandler.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>